/*
 v03081017.0000

 Copyright (c) 2015-2017, Erich N. Pekarek <erich@pekarek.priv.at>
 All rights reserved.
 
 Redistribution and use in source and binary forms, with or without
 modification, are permitted provided that the following conditions are met:
 
 1. Redistributions of source code must retain the above copyright notice, this
    list of conditions and the following disclaimer.
 2. Redistributions in binary form must reproduce the above copyright notice,
    this list of conditions and the following disclaimer in the documentation
    and/or other materials provided with the distribution.
 
 THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
 ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 
 The views and conclusions contained in the software and documentation are those
 of the authors and should not be interpreted as representing official policies,
 either expressed or implied, of the FreeBSD Project.
*/
@import url("./leaflet.css"); 
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
html{
	font-family: 'PT Sans Narrow', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
body{
	font-family: 'PT Sans Narrow', sans-serif;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	margin: -20em;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#map{
	display: block;
	font-family: 'PT Sans Normal', sans-serif;
	font-size: .7em;
	height: 100%;
	left: 0;
	margin: 0 0 2em 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5;
}
.leaflet-div-icon .Red{
	/* border-color: #f33; */
	color: #f23a14;
	border-color: #f23a14;
}
.leaflet-div-icon .White{
	border-color: black;
	background: white!important;
}
.leaflet-div-icon .Grey{
	border-color: #aaa;
}
.leaflet-div-icon .Blue{
	/*	border-color: blue; */
	/* border-color: #6991AA; */
	border-color: blue;
}
.leaflet-div-icon .RoofNode{
	border-color: magenta;
}
.leaflet-div-icon .DarkBlue{
	border-color: darkblue;
}
.leaflet-div-icon .DeepSkyBlue{
	border-color: deepskyblue;
}
.leaflet-div-icon .Green{
	border-color: darkgreen;
}
.leaflet-div-icon .LightGreen{
	background: white!important;
	border-color: chartreuse;
}
.leaflet-div-icon .Yellow{
	border-color: yellow;
}
.leaflet-div-icon .Orange{
	border-color: darkorange;
}
.leaflet-div-icon .Pink{
	border-color: deeppink;
}
.leaflet-div-icon .Purple{
	border-color: purple;
}
.leaflet-div-icon .Black{
	border-color: #273142;
}
.leaflet-div-icon .pin:after{
	border-color: black;
	border-radius: 70% 90% 70% 1%;
	border-style: solid;
	border-width: .1em .1em 0 0;
	color: inherit;
	display: inline-block;
	padding: .1em;
	position: relative;
}
.leaflet-div-icon .cone{
	color: white;
	display:table;
	content: 'v642';
	border-left: .7em solid transparent;
	border-radius: 50%;
	border-right: .7em solid transparent;
	border-top-style: solid;
	border-top-width: 1em;
	height: 0;
	left: 0.1em;
	position: absolute;
	top: 0;
	width: 0;
}
.leaflet-div-icon .diamond{
	border-left-color: transparent;
	border-right-color: transparent;
	border-style: solid;
	border-top-color: transparent;
	border-width: 0 .25em .25em .25em;
	box-sizing: content-box;
	height: 0;
	margin: .2em 0 .5em 0;
	position: relative;
	width: .5em; 
}
.leaflet-div-icon .pin{
	background: rgba(255,255,255,.3);
	border-radius: 70% 90% 70% 1%;
	border-style: solid;
	border-width: .2em;
	/* box-shadow: 0 0 .5em .15em #aaa; */
	display: inline-block;
	height: .5em;
	margin: 0; 
	transform: rotate(-45deg);
	position: absolute;
	left: 0.1em;
	top: 0;
	width: .5em;
}
div.leaflet-div-icon{
	border: none;
	box-shadow: 0 0 3em rgba(255,255,255,.3);
	height: 0!important; 
	left: -.6em!important; 
	margin:0!important;
	padding: 0!important;
	position: relative!important;
	top: -1em!important; 
	width: 0!important;
}
.leaflet-popup-content-wrapper{
	border-radius: .5em!important;
	display: table;
	margin: 0 auto;
	max-height: 5em;
	padding: 2em .2em .3em;
	width: 35em;
}
.leaflet-popup-content{
	display: table-cell;
	margin: 0 auto;
	min-width: 25em!important;
/*	width: 45em!important; */
	word-break: break-all;
}
.tooltip .distinfo{
	background: rgba(255,255,255,.5);
	border: .1em outset #aaa;
	border-radius: .3em;
	font-weight: bold;
	margin: 0;
	padding: .2em;
	position: relative;
	z-index: 9999;
}
.nodeinfo{
	background-color: #aaa;
	display: block;
	margin: 0 auto;
	max-height: 20em;
	overflow: scroll;
	padding: .1em 0;
	position: relative;
	width: inherit;
}
.nodestatus, .nodeDistance{
}
.nodeinfo>h1{
	font-size: .9em;
}
.nodeinfo>h1,
.nodeDetails,
.nodeDevices,
.nodeLinks,
.nodeOwner,
.nodeDistance,
.nodeNotes{
	background-color: #fff;
	border: .1em solid black;
	border-radius: .5em;
	display: table;
	margin: .5em .5%;
	padding: .5em 1.50%;
	table-layout: fixed;
	width: 95%; 
}
.nodeDetails>div,
.nodeOwner>div {
	display: table-row;
	word-break: keep-all;
}
.nodeDetails>div>div:first-child,
.nodeOwner>div>div:first-child {
	display: table-cell;
	font-weight: bold;
	padding-top: 1em;
	text-align: left;
	vertical-align: top;
	width: 35%;
}
.nodeDetails>div>div,
.nodeOwner>div>div {
	display: table-cell;
	padding-top: 1em;
	text-align: left;
	vertical-align: bottom;
	width: 55%;
}
.nodeDetails>div>div>a,
.nodeOwner>div>div>a{
	background-color: #6991AA;
	border-radius: .5em;
	border-color: #6991AA;
	border-style: outset;
	color: black;
	display: table;
	font-weight: bolder;
	margin: 0 auto;
	padding: .3em .5em;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 0 .15em #efefef;
	width: 90%;
	word-break: break-all;
}
table[id^="links"] td a, 
table[id^="devices"] td a, 
table[id^="links"] td button, 
table[id^="devices"] td button, 
.nodeDistance td a {
	background-color: rgba(128,128,255, .2);
	border-color: #777;
	border-style: outset;
	border-width: 0.05em;
	color: black;
	display: block;
	font-size: .90em;
	font-weight: bold;
	height: inherit;
	margin: 0 auto;
	min-height: 2em;
	padding: 0; 
	text-align: center;
	text-decoration: none;
	word-break: break-all;
	width: 96%;
}
table[id^="devices"], .nodeDistance table, table[id^="links"] {
	border: .1em solid #afafaf;
	border-collapse: separate;
	border-spacing: .1em;
	font-size: 1em;
	margin: .5em auto;
	padding: 0;
	width: 97%;
}
table[id^="devices"] td, .nodeDistance td, table[id^="links"] td{
	border-collapse: separate;
	border-spacing: .05em;
	padding: 0 .05em;
	text-align: left;
	word-break: break-all;
}
table[id^="devices"] td:nth-child(odd), .nodeDistance td:nth-child(odd), table[id^="links"] td:nth-child(odd){
	background-color: #dfdfdf;
}
table[id^="links"] td:nth-child(4){
	text-align: right;
}
table[id^="links"] td:last-of-type{
	font-weight: bolder;
	text-align: center;
	text-shadow: 0 0 .2em #efefef;
	width: 5em;
}
table[id^="devices"] td{
	padding: 0 .1em;
	word-break: break-all;
}
table[id^="links"] td.red{
	background-color: red;
}
table[id^="links"] td.orange{
	background-color: orange;
}
table[id^="links"] td.yellow{
	background-color: yellow;
}
table[id^="links"] td.green{
	background-color: green;
}
.pin.size3plus{
	transform: scale(1.1) rotate(-45deg);
}
.pin.size5plus{
	transform: scale(1.2) rotate(-45deg);
}
.pin.size10plus{
	transform: scale(1.3) rotate(-45deg);
}
.pin.size15plus{
	transform: scale(1.4) rotate(-45deg);
}
.pin.size20plus{
	transform: scale(1.5) rotate(-45deg);
}
.pin.size25plus{
	transform: scale(1.6) rotate(-45deg);
}
.pin.size30plus{
	transform: scale(1.7) rotate(-45deg);
}
form select, form #nodeSelect{
	display: block;
	margin: 0 auto;
	width: 80%;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip{
	background: #efefef!important;
	box-shadow: .1em .1em  .5em .4em #888888!important;	
	text-align: center!important;
	vertical-align: middle!important;
}
.leaflet-container a.leaflet-popup-close-button {
	background-color: red!important;
	border-radius: 0 .2em 0 0!important;
	color: white!important;
	padding: .1em .1em .2em!important;
	text-align: center!important;
	vertical-align: middle!important;
}
.leaflet-popup:before{
	color: black;
	content: 'Information';
	font-weight: bold;
	left: .65em;
	position: absolute;
	top: .25em;
	width: inherit;
}
.leaflet-pane{
	background: transparent;
}
.leaflet-tooltip-pane-right,
.leaflet-tooltip-pane-left,
.leaflet-tooltip-pane {
	background-color: transparent!important;
/*  gba(255,255,255,0.1); */
	border: none;
	box-shadow: .1em .1em  .5em .4em #888888!important; 
	z-index: 1000;
}
.mouseOverNodeTooltip * {
	color: white;
	text-shadow: 0 0 .2em #333;
}
.leaflet-tooltip-pane *{
	font-weight: normal;
	font-size: .9em;
}
button#copyCoords{
	background-color: #6991AA;
	border-radius: .5em;
	border-color: #6991AA;
	display: block;
	font-weight: bolder;
	margin: 0 auto;
	text-shadow: 0 0 .15em #efefef;
	width: 96%;
}
div#userNotify h1{
	padding: 15% 1em 5%;
	vertical-align: bottom;
	z-index: 1000;
}
div#userNotify div{
	clear: both;
	float: none;
	margin: 0 auto;
	padding: 5% 1em 15%;
	vertical-align: bottom;
	z-index: 1000;
}
div#userNotify{
/*	background-image: url('logoFUNKFEUERsmall.png');
*	background-position: center 5em;
*	background-size: 50%;
*	background-repeat: no-repeat; */
	background-color: rgba(255,255,255, .7);
	border-width: 1em;
	border-style: solid;
/*	border-color: #a1c820; */
	border-radius: 2em 2em 2em 2em;
	box-shadow: 0 0 2em #ffffff;
	display: table;
	height: 50%;
	left: -100%;
	position: absolute;
	vertical-align: bottom;	
	text-align: center;
	top: -100%;
	width: 50%;
	z-index: -999;
}
div#userNotify:active, #userNotify:focus{
	animation-name: rotatebordercolor;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	left: 25%!important;
	position: absolute;
	top: 20%!important;
	width: 50%;
	z-index: 999!important;
}
select{
	background-color: #fff;
	display: block;
	margin: 0 auto;
	width: 95%;
}
select option:disabled {
	color: #000!important;
	font-weight: bold!important;
}
@keyframes rotatebordercolor {
	0%,100%	{ border-color: #f23a14; }
	50%	{ border-color: #a1c820; }
}
table.sortable thead {
	background-color:#eee;
	color:#666666;
	cursor: pointer;
	font-weight: bold;
	word-break: normal;
}

@media all and (orientation:landscape){
	#footer{
		background-color: rgba(255,255,255,.5);
		bottom: 0;
		font-family: 'PT Sans Normal', sans-serif;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		height: 1em;
		left: 0;
		margin: 0 5em 0 auto;
		position: absolute;
		width: 65%;
		z-index: 5;
	}
	#footer>div{
		background-color: rgba(127,127,127,.5);
		border-width: .1em .1em 0 .1em;
		border-style: solid;
		border-color: #000;
		border-radius: .3em .3em 0 0;
		bottom: 0;
		flex: 1;
		height: .5em;
	/* 	margin: 0 .4em 0 1em; */
		max-height: .5em;
		max-width: 15em;
		min-height: .5em;
		min-width: 15em;
		overflow: hidden;
		padding: 0 .5em .5em;
		text-align: center;
		vertical-align: top;
			width: 19em;
	}
	#footer>div:nth-child(2n+0){
	/*	margin: 0 .4em 0 30em; */
	}
	#footer>div:nth-child(3n+0){
	/*	margin: 0 .4em 0 50em; */
	}
	#footer>div:hover{
		margin-top: -20em;
		height: 20em;
		max-height: 20em;
		min-height: 20em;
		padding: 2em .5em 3em;
		flex: 1;
		transition-delay: .31s;
		transition-duration: .5s;
		transition-property: all;
		vertical-align: top;
		z-index: 100;
	}
	#footer>div h1 {
		font-size: .7em;
		margin: .2em auto;
		padding: 0;
		text-align: center;
		top: -1em;
		vertical-align: top;
		width: 90%;
	}
	#footer>div:hover h1 {
		font-size: 1.1em;
		margin: .6em auto 0;
		padding: 0 0 .5em 0; 
		transition-duration: .6s;
		transition-property: all;
	}
	#footer>div#login input[type="submit"]{
		clear: both;
		display: block;
		float: none;
		margin: 0 auto;
	}
}
@media all and (orientation: portrait){
	#footer{
		background-color: rgba(255,255,255,.5);
		border-color: #888;
		border-style: solid;
		border-radius: 0 25% 0 0;
		border-width: .5em;
		bottom: -17em;
		font-family: 'PT Sans Normal', sans-serif;
		display: table;
		height: 20em;
		left: -22em;
		overflow: hidden;
		position: absolute;
		touch-action: pan-y pan-x pinch-zoom;
		width: 25em;
		z-index: 5;
	}
	#footer>div{
		display: table-cell;
		vertical-align: top;
	}
	#footer>div:nth-child(2n+0){
	}
	#footer>div:nth-child(3n+0){
	}
	#footer:hover, 
	#footer:active{
		border-color: #888;
		border-style: solid;
		border-radius: 0 0 0 0;
		border-width: .2em;
		bottom: 0;
		display: table;
		height: 20em;
		left: 0;
		margin-top: -20em;
		max-height: 20em;
		min-height: 20em;
		overflow: hidden;
		padding: 2em .5em 3em;
		position: absolute;
		vertical-align: top;
		z-index: 100;
	}
	#footer>div h1 {
		font-size: .7em;
		margin: .2em auto;
		padding: 0;
		text-align: center;
		top: -1em;
		vertical-align: top;
		width: 90%;
	}
	#footer>div:hover h1 {
		font-size: 1.1em;
		margin: .6em auto 0;
		padding: 0 0 .5em 0; 
	}
	#footer:hover *, 
	#footer:active *{
		position: relative;
		z-index: 999;
	}
	#footer>div#login input[type="submit"]{
		clear: both;
		display: block;
		float: none;
		margin: 0 auto;
	}
}
