<!DOCTYPE html>
<html dir="ltr" lang="en"><head>
    <title>FreiesNetz - Home</title>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Willkommen im Freien Netz!">
    <meta name="keywords" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <!-- set base -->
    <!-- base href="https://www.freiesnetz.at/" -->

    <!-- open graph -->
    <meta property="og:url" content="https://www.freiesnetz.at/index.html">
    <meta property="og:type" content="website">
    <meta property="og:title" content="FreiesNetz - Home">
    <meta property="og:description" content="Willkommen im Freien Netz!">
    <meta property="og:image" content="{{page.image}}">

    <!-- icons -->
    <link theme-icon="" href="https://www.freiesnetz.at/files/favicon2.png" rel="icon">
    <meta theme-color="" content="#888" name="msapplication-TileColor">
    <meta theme-color="" content="#888" name="msapplication-TileImage">
    <link theme-icon="" href="https://www.freiesnetz.at/files/favicon2.png" rel="apple-touch-icon">

    <!-- font -->
    <link href="FreiesNetz%20-%20Home_files/icon.css" rel="stylesheet">

    <!-- css -->
    <link type="text/css" href="FreiesNetz%20-%20Home_files/site.css" rel="stylesheet">

    <!-- google maps -->
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9MuIgY7SyN30OZHn0MuQPPhcsrO2kFDg&callback=initMap"></script> -->

    

  <style respond-settings=""></style></head>

  <body class="home" data-lastmodified="2019-06-15T22:31:59+0000" data-template="home" data-tags="" show-cart="false" style="overflow-x: hidden;">

    <header role="banner">

      <nav class="navbar navbar-expand-md navbar-light justify-content-end">

        <a class="navbar-brand" href="https://www.freiesnetz.at/index"><img theme-logo="" src="FreiesNetz%20-%20Home_files/freiesnetz-logo7.png"></a>

        <div id="header-primary-menu" class="primary-menu collapse navbar-collapse">

          <ul respond-plugin="" menu="primary" class="navbar-nav ml-auto" type="menu"><li><a class="nav-link" href="https://map.funkfeuer.at/nodemap/map-freiesnetz.html">Wien-Map &nbsp; |</a></li><li><a class="nav-link" href="https://www.freiesnetz.at/page/about.html">Idee</a></li><li><a class="nav-link" href="https://www.freiesnetz.at/page/faq.html">FAQ</a></li><li><a class="nav-link" href="https://www.freiesnetz.at/gallery.html">Fotos</a></li><li><a class="nav-link" href="https://www.freiesnetz.at/page/contact.html">Kontakt</a></li></ul>

        </div>

        <div class="header-actions">

          <a class="header-action d-md-none" data-toggle="collapse" data-target="#header-primary-menu">
            <i class="material-icons">menu</i>
          </a>

          <a class="header-action" respond-cart="" cart-toggle="">
            <i class="material-icons">shopping_cart</i> <span cart-total="">$0.00</span>
          </a>

          <a class="header-action" respond-search="">
            <i class="material-icons">search</i>
          </a>

        </div>

      </nav>

    </header>
    <!-- /header -->

    <main role="main">

 <div class="row jumbotron" data-background-image="resources/background.png" style="background-image: url('files/freiesnetz-bg.net.jpg');">
 <div class="col col-md-12">
 <h1 data-text-color="#c8c8c8" style="color: rgb(200, 200, 200);">::FreiesNetz::<div><div><div><div>📡 ein organisiertes Bürgernetz mit Service</div></div></div></div></h1>
 <p>.</p><p data-text-color="#bebebe" style="color: rgb(190, 190, 190);">Unabhängige
 Infrastruktur durch dezentrales Netzwerk. Jeder weitere Teilnehmer 
verbessert und erweitert das Netzwerk, wird damit automatisch Teil davon
 und ermöglicht dadurch schnelleren Service sowie bessere Netzabdeckung.</p>
 <p data-text-color="#ffffff" data-text-shadow-color="#ff8000" style="color: rgb(255, 255, 255); text-shadow: rgb(255, 128, 0) 1px 1px 1px;"><a href="https://www.freiesnetz.at/page/contact.html" target="" title="">Mitmachen!</a></p>
 <p data-text-color="#b4b4b4" style="color: rgb(180, 180, 180);">Je mehr Teilnehmer, desto mehr Möglichkeiten auf mehr Performance im Netz.</p></div>
 </div>
 <!-- /.jumbotron -->

 <div class="row attention center-content bottom-border top-big-spacing bottom-big-spacing">
 <div class="col col-md-12">
 <h3>Netzwerk<div></div></h3>
 <p data-text-color="#ffffff" style="color: rgb(255, 255, 255);">FreiesNetz
 ist eine offene Initiative für alle Netzwerke. Jede Person stellt ihren
 Knoten anderen zur Datenübertragung (nach den Grundsätzen des&nbsp;<a href="http://www.picopeer.net/PPA-de.shtml" target="" title="">Pico Peering Agreement</a>)
 zur Verfügung und ermöglicht damit den Datenverkehr innerhalb des 
Netzes.&nbsp;Alle Knoten im Netz kommunizieren hierarchielos 
untereinander und bilden ein gemeinsames Funknetzwerk über den Dächern. 
Dabei gibt es keine Zentrale, jeder Knoten ist mit mehreren anderen 
Knoten verbunden. Wenn ein Knoten aus dem Netzwerk ausfällt suchen 
dessen Nachbarn automatisch eine andere Route.&nbsp;</p>
 </div>
 </div>
 <!-- /.container -->

 <div class="row center-content top-big-spacing bottom-big-spacing">
 <div class="col col-md-4">
 <div class="feature-icon has-entered" data-entrance="fade" style="transition: all 1s ease 0s; opacity: 1; visibility: visible; transform: translate(0px);">
 <span>
 <i class="material-icons">settings_remote</i>
 </span>
 </div>

 <h3>Richt-Funk</h3>
 <p>Durch Nutzung von gerichteten Funk-Signalen können auch Gebäude 
versorgt werden, welche noch nicht mit Kabelverbindung wie z.B. DSL oder
 Glasfaser erschlossen sind.</p>
 </div>
 <div class="col col-md-4">
 <div class="feature-icon has-entered" data-entrance="subtle-fade" style="transition: all 1s ease 0s; visibility: visible; opacity: 1; transform: translate(0px);">
 <span>
 <i class="material-icons">settings_ethernet</i>
 </span>
 </div>

 <h3>Dezentral</h3>
 <p>Verbindungen sind nach keinem besonderen Schema angeordnet, die 
einzelnen Knoten sind untereinander mehrfach miteinander verbunden 
(vermascht).</p>
 </div>
 <div class="col col-md-4">
 
 <div class="feature-icon has-entered" data-entrance="subtle-fade" style="transition: all 1s ease 0s; visibility: visible; opacity: 1; transform: translate(0px);">
 <span>
 <i class="material-icons">network_check</i>
 </span>
 </div><h3>Performant</h3>
 <p>Fokus auf wichtige Performance-relevante Parameter damit soviel 
Bandbreite wie möglich beim Endanwender ankommt bzw. abtransportiert 
werden kann.</p>
 </div>
 </div>
 <!-- /.container -->


</main>

    <footer role="contentinfo">

      <div class="container">
        <div class="row">
          <div class="col col-md-6">
            <h3>Kontakt</h3>
            <p>Telefonisch erreichbar unter 01/2365060 oder per E-Mail <a href="mailto:freiesnetz@freiesnetz.at">freiesnetz@freiesnetz.at</a></p>
          </div>
          <div class="col col-md-6">
            <h3>About</h3>
            <p>This home site is powered by <a href="http://respondcms.com/">Respond CMS</a>.
 Respond CMS is an open source content management system that you can 
use to build beautiful, responsive websites. The latest version features
 Bootstrap 3.0, robust themes, a complete REST API, and a beautiful UI. 
Images from <a href="https://unsplash.com/">Unsplash</a>.</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-12">
            <ul respond-plugin="" menu="footer" type="menu"><li><a class="nav-link" href="https://map.funkfeuer.at/nodemap/map-freiesnetz.html">Map</a></li><li><a class="nav-link" href="https://www.freiesnetz.at/page/about.html">Idee</a></li><li><a class="nav-link" href="https://www.freiesnetz.at/gallery.html">Fotos</a></li><li><a class="nav-link" href="https://www.freiesnetz.at/page/contact.html">Kontakt</a></li></ul>
          </div>
        </div>
      </div>
      <!-- /.container -->
      <div respond-plugin="" type="cart"></div>

    </footer>
    <!-- /footer -->

  

  
  <script src="FreiesNetz%20-%20Home_files/site.js"></script><div class="app-toast">Sample Toast</div><div class="respond-lightbox"><div class="respond-lightbox-close" on-click="close"><svg xmlns="http://www.w3.org/2000/svg" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></div><div class="respond-lightbox-body"><img><p>Sample Caption</p></div></div><div class="respond-searchbox"><div class="respond-searchbox-close" on-click="close"><svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg></div><form class="respond-searchbox-form"><input type="text" placeholder="Search"><div class="respond-search-results"></div></form></div>

  
  
</body><!-- js --></html>